@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "robotoHeavy";
  src: url("/roboto-v30-latin-900.woff") format("woff");
}

@font-face {
  font-family: "robotoRegular";
  src: url("roboto-v30-latin-regular.woff") format("woff");
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #242424;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}*/

body {
  color: white;
  background: black;
  background: radial-gradient(
    circle at bottom center,
    rgba(60, 60, 60, 1) 0%,
    rgba(0, 0, 0, 1) 58%
  );
  cursor: url("https://github.com/chenglou/react-motion/raw/master/demos/demo8-draggable-list/cursor.png")
      39 39,
    auto;
}

.htmlScreen iframe {
  width: 1920px;
  height: 1080px;
  border: none;
  border-radius: 20px;
  background: #000000;
}

/* For OpeningScene */
.text-9xl {
  font-size: 9rem;
}

.blur {
  filter: blur(7.5px);
}

.stroke-white {
  -webkit-text-stroke: 2px white;
}

.outline-text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-style: italic;
  color: transparent;
}

/* LOADING SAMPLE */

.started {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hidden {
  display: none;
}

/* Loader styles */
.loader-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top right,
    rgb(255, 255, 255),
    rgb(145, 108, 213)
  );
}

.loader-container {
  position: fixed;
  top: calc(50% - 25px);
  left: calc(50% - 75px);
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader-startButton {
  transition: transform 0.1s ease-in-out;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
}

#loader-startButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: var(--before-opacity, 0);
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#loader-startButton:active {
  transform: scale(0.9);
}

#loader-startButton.loaded:hover {
  z-index: 1;
}

#loader-startButton.loaded:before {
  opacity: 1;
}

#loader-startButton:hover:before {
  opacity: 1;
}

#loader-startButton:active:before {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
