@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "robotoHeavy";
  src: url("/fonts/roboto-v30-latin-900.woff") format("woff");
}

@font-face {
  font-family: "robotoRegular";
  src: url("/fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "playfair";
  src: url("/fonts/playfair-display-v36-latin-regular.woff") format("woff");
}

html,
body,
#root {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: "#242424";
}
body {
  color: white;
  background-color: #242424;
}

/* WATER LOADER */
.started {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.loader-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, rgb(0, 0, 0), rgb(44, 1, 123));
}

.loader-container {
  position: fixed;
  top: calc(50% - 25px);
  left: calc(50% - 75px);
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 280px;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #020438;
  border-radius: 100%;
  border: 2px solid black;
  overflow: hidden;
}

.box:hover {
  border: 2px solid white;
  color: #000;
}

.box .percent {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.box .water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  background: #4d6de3;
  transition: all 0.3s;
}
.box .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.box .water_wave_back {
  right: 0;
  fill: #c7eeff;
  animation: wave-back 1.4s infinite linear;
}
.box .water_wave_front {
  left: 0;
  fill: #4d6de3;
  margin-bottom: -1px;
  animation: wave-front 0.7s infinite linear;
}
@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}

.mute-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
